GEMINI_API_KEY="your_api_key_here"
PROJECT_NAME="your_project_name_here"
PROJECT_NUMBER="your_project_number_here"

GROQ_API_KEY_hiteshvish123@gmail.com="groq_api_key_here"
GROQ_API_KEY_mail.hitesh.connect@gmail.com="groq_api_key_here"
GROQ_API_KEY_hiteshvish2299@gmail.com="groq_api_key_here"
GROQ_API_KEY_vishwakarmahitesh59@gmail.com="groq_api_key_here"
GROQ_API_KEY_h123itesh@gmail.com="groq_api_key_here"
GROQ_API_KEY_PRAKHYAT="groq_api_key_here"
GROQ_API_KEY_AMISHA="groq_api_key_here"
GROQ_API_KEY_HARSHIT="groq_api_key_here"
GROQ_API_KEY_hv254556@gmail.com="groq_api_key_here"
GROQ_API_KEY_hv8270014@gmail.com="groq_api_key_here"
GROQ_API_KEY_hv839291@gmail.com="groq_api_key_here"
GROQ_API_KEY_hv252523@gmail.com="groq_api_key_here"

CLARIN_API_KEY=value_here
USE_OLLAMA=boolean_value_here